<h2> Latest Posts </h2>
<br/>
<% @results.each do |post|%>
    <p>
    <%= post['content'] %>
    <br />
    добавлен в: <%= post['created_date']%>
    <a href="/details/<%= post['id']%>">Comments</a>
    </p>
    <hr/>
<%end%> 